{
    admin :2019
    persist_config off
    auto_https off
    log {
        format console
    }
    servers {
        metrics
        # https://caddyserver.com/docs/json/apps/http/servers/trusted_proxies/
        trusted_proxies cloudflare
        trusted_proxies static private_ranges # Railwayからのプロキシを信頼する
    }
}

:{$PORT} {
    log {
        format console
    }
    reverse_proxy unsocial.railway.internal:3000
}
