{
    admin off
    persist_config off
    auto_https off
    log {
        format console
    }
    servers {
        metrics
        trusted_proxies static private_ranges
    }
}

:{$PORT} {
    log {
        format console
    }
    metrics /metrics
    reverse_proxy unsocial.railway.internal:3000
}
